// _article.scss

/*
### ----------- ###
### begin about ###
### ----------- ###
*/

.toolbox {
    width: 100%; 
    text-align: center;
    vertical-align: top;

    h2,
    h3 {
        text-align: inherit;
    }

    div {
        vertical-align: inherit;
    }

    div[class^="toolbox-"] {
        display: inline-block;
        width: 40%;
        margin: 0 2.5%;
    }

    ul {
        
        li {
            position: relative;
            margin: 5px 0;
            background: $color-teal;
            color: $color-white;
            border-radius: 2px;

            &:before {
                content: '';
            }
        }
    }

    

}

/*
### --------- ###
### end about ###
### --------- ###
*/